@import "../../scss/helpers/mixins";

h1 {
  // font-family: degular;
  font-family: 'Tomorrow', sans-serif;

  line-height: 1.4;
  font-weight: 100;
  font-size: 2.5em;
  text-align: left;
  margin: 0;
  @include breakpoint-above(md) {
    font-size: 2.5em;
  }
  @include breakpoint-less(sm) {
    font-size: 2.3em;
  }
}

h3 {
  text-align: center;
  font-family: degular;
  font-weight: 100;
  font-size: 2.7em;
  margin: 70px 25px;
  margin-top: 90px;
  @include breakpoint-less(sm) {
    font-size: 2.3em;
    margin-top: 0;
    margin: 30px 25px;
  }
}

.img-wrapper {
  margin: 0 30px 30px;
  @include breakpoint-less(sm) {
    margin: 25px;
    margin-top: 0;
  }
  img {
    width: 100%;
  }
}

benoldi-services.services {
  ::ng-deep {
    > div {
      margin: 30px auto 0px;
      @include breakpoint-less(md) {
      margin: 30px auto 100px;
      }
    }
  }
}
benoldi-parallax {
  ::ng-deep > div {
    font-family: degular;
    font-weight: 100;
    font-size: 2.3em;
    color: white;
    @include breakpoint-less(sm) {
      font-size: 1.5em;
        > div {
          padding: 5px;
          margin: 20px;
          font-weight: 500;
          line-height: 1.5;
        }


    }
  }
}
benoldi-call-to-action#call-to-action {
  ::ng-deep {
    > div {
      margin-top: 0;
    }
  }
}

@include breakpoint-less(sm) {
  benoldi-reviews.benoldi-reviews {
    ::ng-deep {
      > div { 
        padding: 50px 0 0;
      }
    }
  }
}
