<benoldi-hero-section>
  <h1>
    I help businesses to build unique web solutions. <br class="divider" />
    I focus on simplicity, performance and security.
  </h1>
</benoldi-hero-section>
<ng-container *ngIf="thumbnails$ | async as thumbnails">
  <benoldi-portfolio-section [thumbnails]="thumbnails"></benoldi-portfolio-section>
</ng-container>
<!-- <h3>Services</h3>
<benoldi-services [items]="items" class="services"></benoldi-services> -->
<benoldi-call-to-action class="benoldi-call-to-action"></benoldi-call-to-action>
