<benoldi-hero-section>
  <h1>
    I help curious growing businesses to build their identity. <br class="divider" />
    I give shape to their uniqueness by focusing on simplicity.
  </h1>
</benoldi-hero-section>
<ng-container *ngIf="$thumbnails | async as thumbnails">
  <benoldi-portfolio-section [thumbnails]="thumbnails"></benoldi-portfolio-section>
</ng-container>

<benoldi-reviews></benoldi-reviews>
<!-- <benoldi-services [items]="items"></benoldi-services> -->
<benoldi-call-to-action></benoldi-call-to-action>
