<div class="section border-top">
  <div class="container">
    <div class="row">
        <ul class="list-inline-dash">
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Recent Work</a></li>
        </ul>
        <p class="copyright">© 2020 Elsa Benoldi, All Rights Reserved.</p>
        <ul class="list-inline-sm social-media" >
          <li><a class="button-circle" href="#" ><fa-icon [icon]="faFacebookF"></fa-icon></a></li>
          <li><a class="button-circle" href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
          <li><a class="button-circle" href="#"><fa-icon [icon]="faLinkedinIn"></fa-icon></a></li>
          <li><a class="button-circle" href="#"><fa-icon [icon]="faInstagramSquare"></fa-icon></a></li>
        </ul>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
