@import "../../../scss/helpers/variables";
@import "../../../scss/helpers/mixins";

:host {
  font-size: 1rem;

  .section {
    padding: 50px 0 100px;
    background-color: $elsa-light-gray;
  }
  .container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

  }
  li {
    margin: 8px;
    @include breakpoint-less(md) {
      margin: 6px;
    }

    &:after {
      content: none;
    }
    a {
      text-decoration: none;

    }
  }
}

.social-media {
  li {
    font-weight: bold;
    font-size: degular;
    font-weight: 100;
    .button-circle {
      background-color: transparent;
      border-radius: 50%;
      transition: ease-out 0.14s;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border: 1px solid$elsa-gray;
      color: $elsa-gray;
      display: flex;
      justify-content: center;
      align-items: center;

      fa-icon {
        display: flex;
      }
    }
  }
}

.copyright {
  color: #adadad;
  margin: 10px auto;
}

.z-consultancy {
  text-decoration: none;
  color: #adadad;
  &:hover {
    font-weight: bold;
  }
}