svg {
  fill: url(#grad1);
  position: absolute;
  max-width: 773px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: -1;
  fill: url(#grad1);
  left: -14%;
  top: 5%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
