<div>
  <benoldi-parallax id="parallax"
  [imgUrl]="imgProcessUrl"
  [backgroundSettings]="{ positionY: -150, height: 50 }"
  >

  <div class="container">
  <div class="overlay"></div>
  <div class="process">
    <h1>Process</h1>
    <h2>
      Although each project is unique, I developed a comprehensive and flexible
      design process <br /> that allows to reach successful results.
    </h2>
  </div>
  </div>
</benoldi-parallax>
</div>
<div class="container steps">
  <div class="row">
    <div class="img"><img src="../../assets/images/process/elsa-benoldi-graphic-design-meeting.jpg" alt="Elsa Benoldi Graphic Design meeting" /></div>
    <div class="text">
      <h3>Step 1</h3>
      Let’s start with a chat. We’ll talk about your brand, about your values
      and goals. How is your company positioned among others in the marketplace?
      Who are your ideal customers? What appeals to those people? What’s your
      brand personality and what’s its voice?
    </div>
  </div>

  <div class="row">
    <div class="text">
      <h3>Step 2</h3>
      During the research phase, we will discover what’s already on the market,
      we’ll collect ideas and inspirations. This is how the conception and
      exploration phase begins.
    </div>
    <div class="img"><img src="../../assets/images/process/elsa-benoldi-graphic-design-books.jpg" alt="Elsa Benoldi Graphic Design book" /></div>
  </div>

  <div class="row">
    <div class="img"><img src="../../assets/images/process/elsa-benoldi-graphic-design-sketch.jpg" alt="Elsa Benoldi Graphic Design sketch" /></div>
    <div class="text">
      <h3>Step 3</h3>
      I’ll start by sketching out some ideas and I will show you three different
      design routes. We can then have a chat about what you like or dislike
      about them. Your brand is taking shape!
    </div>
  </div>

  <div class="row">
    <div class="text">
      <h3>Step 4</h3>
      We are going to complete your identity by applying the final adjustments
      and refinements. In this phase I will create mockups (realistic digital
      prototypes) which will help you to visualise how your identity will be
      applied to different branding assets and materials.
    </div>
    <div class="img"><img src="../../assets/images/process/elsa-benoldi-graphic-design-palette.jpg" alt="Elsa Benoldi Graphic Design palette" /></div>
  </div>

  <div class="row">
    <div class="img"><img src="../../assets/images/process/elsa-benoldi-graphic-design-laptop.jpg" alt="Elsa Benoldi Graphic Design laptop" /></div>
    <div class="text">
      <h3>Step 5</h3>
      Once you are happy with the result, I’ll prepare and deliver all the
      assets you need to let your brand live in the world. I will support you
      every step of the journey by giving you advice on how to best present and
      communicate your new brand identity.
    </div>
  </div>
</div>
<benoldi-call-to-action></benoldi-call-to-action>
