
@import "../../../scss/helpers/variables";
@import "../../../scss/helpers/mixins";


.header {
	top: 0;
	z-index: 990;
	overflow: visible;
  background-color: inherit;
	width: 100%;
	height: 80px;
	.container, .container-fluid {
		@include display-flex;
	    justify-content: space-between;
	    align-items: center;
	    height: 100%;
	}
	.logo {
		display: inline-block;
		.logo-light {
			display: none;
		}

    h4 {
			margin: 0;
    }

		img {
			width: auto;
			height: 52px;
      max-height: 52px;
      max-width: 200px;
      @media (min-width: 992px) {
        max-width: 150px;
      }
    }

		a {
			color: $color-dark;
			&:hover { color: $color-dark; }
		}
  }
  &.fixed {
		position: fixed;
		top: 0;
		left: 0;
		@include box-shadow(0 0 38px 0 rgba(24,27,30,0.14));
	}
	&.sticky {
		position: sticky;
		top: 0;
		left: 0;
		@include box-shadow(0 0 38px 0 rgba(24,27,30,0.14));
	}
}

.toggle-menu {
	position: relative;
	display: inline-block;
	width: 28px;
	height: 28px;
	span {
		position: absolute;
		top: 50%;
		left: 0;
		@include transform(translateY(-50%));
		background: $color-dark;
		width: 100%;
		height: 2px;
		border-radius: 2px;
		@include transition(linear 0.1s);
		&:before, &:after {
			content: '';
			position: absolute;
			left: 0;
			background: $color-dark;
			width: 100%;
			height: 2px;
			border-radius: 2px;
			@include transition(linear 0.1s);
		}
		&:before { top: -7px; }
		&:after { bottom: -7px; }
	}
	&:hover {
		span {
			&:before { @include transform(scaleX(0.9)) }
			&:after { @include transform(scaleX(0.7)) }
		}
	}
}
