<!-- Portfolio section -->
<div class="portfolio-container">
  <div
    class="row  portfolio-grid portfolio-title-overlay"
  >
    <!-- Portfolio Item -->
    <div  class="portfolio-item" benoldiEnterViewport *ngFor="let thumbnail of thumbnails" (click)="goToProjectPage(thumbnail.projectId || '')" >
      <a>
        <div class="portfolio-img">
          <picture>
            <source media="(max-width: 599px)" srcset="{{thumbnail.thumbnailUrlSmall}}">
            <source media="(min-width: 600px)" srcset="{{thumbnail.thumbnailUrlLarge}}">
            <img [attr.loading]="loading" src="{{thumbnail.thumbnailUrlLarge}}" alt="{{thumbnail.imgAlt}}">
          </picture>
        </div>
        <div class="portfolio-hover">
          <div class="portfolio-hover-box">
            <h3 class="font-weight-normal">{{thumbnail.projectName}}</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- end container-fluid -->
<!-- end Portfolio section -->
