@import "../../../scss/helpers/variables";
@import "../../../scss/helpers/mixins";
.portfolio-container {
  padding: 15px;
  @include breakpoint-less(md) {
    padding: 0
  }
  @include breakpoint-above(md) {
    margin: auto 15px;
  }
  padding: 0;
  .row {
    @include breakpoint-above(md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .portfolio-title-overlay{
    .portfolio-item {
      padding: 25px;
      padding-top: 0;
      @include breakpoint-above(md) {
        padding: 15px;

        max-width: 33.3%;
      }
      a {
        position: relative;
        display: block;
        color: $color-white-07;
        h1,h2,h3,h4,h5,h6 { color: $color-white; line-height: 1.3 }
        .portfolio-img {
          position: relative;
          overflow: hidden;
          img {
            @include transform(scale(1.04));
            width: 100%;
            @include transition(transform 0.46s cubic-bezier(0.165, 0.84, 0.44, 1));
          }
        }
        .portfolio-hover {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          visibility: hidden;
          opacity: 0;
          background: $color-dark-03;
          text-align: center;
          @include transition(ease-out 0.16s);
          .portfolio-hover-box {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            @include transform(translateY(-50%));
            padding: 20px 30px;
            color: $color-white-07;
            * {
              font-family: degular;
              @include transform(translateY(10px));
              opacity: 0;
              @include transition(ease-out 0.14s);
              font-weight: 100;
              &:nth-child(1) { @include transition-delay(0.06s); }
              &:nth-child(2) { @include transition-delay(0.12s); }
              &:nth-child(3) { @include transition-delay(0.18s); }
            }
            span {
              display: block;
            }
          }
        }
        &:hover {
          .portfolio-img {
            img {
              @include transform(scale(1));
            }
          }
          .portfolio-hover {
            visibility: visible;
            opacity: 1;
            .portfolio-hover-box {
              * {
                @include transform(translateY(0));
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}


