<!-- Portfolio section -->
<div class="portfolio-container">
  <div
    class="row  portfolio-grid portfolio-title-overlay"
  >
    <!-- Portfolio Item -->
    <div class="portfolio-item" *ngFor="let thumbnail of thumbnails" (click)="goToProjectPage(thumbnail.projectId || '')">
      <a>
        <div class="portfolio-img">
          <img src="{{thumbnail.thumbnailUrl}}" alt="{{thumbnail.imgAlt}}" />
        </div>
        <div class="portfolio-hover">
          <div class="portfolio-hover-box">
            <h3 class="font-weight-normal">{{thumbnail.projectName}}</h3>
            <!-- <span
              class="font-small font-family-secondary font-weight-medium uppercase"
              >Category</span> -->
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- end container-fluid -->
<!-- end Portfolio section -->
