@import "../../scss/helpers/mixins";

h1 {
  margin-top: 140px;
  margin-left: 30px;
  @include breakpoint-less(sm) {
    margin-top: 50px;
    margin-left: 25px;

  }
}
.container {
  @include breakpoint-less(lg) {
    max-width: 100%;
    padding: 0;
  }
}
