<!-- Fullscreen Menu -->
<div class="fm-wrapper" [class.fm-show]="isMenuBarOpen">
  <div class="container text-center">
    <div class="middle">
      <ul class="full-menu list-inline">
        <li><a title="Home"[routerLink]="['']" (click)="toggleMenu()">Home</a></li>
        <!-- <li><a title="Work" [routerLink]="['/work']"(click)="toggleMenu()">Work</a></li> -->
        <!-- <li><a title="About" [routerLink]="['/about']" (click)="toggleMenu()">About</a></li> -->
        <!-- <li><a title="Process" [routerLink]="['/process']" (click)="toggleMenu()">Process</a></li> -->
        <li><a title="Contact" [routerLink]="['/contact']" (click)="toggleMenu()">Contact</a></li>

      </ul>
    </div>
    <div class="bottom">
      <ul class="list-inline margin-bottom-10">
        <li><a title="go to linkedin" href="https://www.linkedin.com/in/nick-zozor/" target="_blank"><fa-icon [icon]="faLinkedinIn"></fa-icon></a></li>
        <li><a title="go to Github" href="https://github.com/nzozor" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a></li>
      </ul>
      <p>© 2022 Nicolas Zozor</p>
    </div>
    <!-- Close Button -->
    <button title="toggle menu" aria-label="toggle menu" class="fm-close" (click)=toggleMenu()>
      <span></span>
    </button>
  </div><!-- end container -->
</div>
<!-- end Header -->
