<benoldi-hero-section class="model-2" [initials]="false">
    <h1>About</h1>
    <h2>
      I'm a web developer with 7 years experience 
    </h2>
  </benoldi-hero-section>
  <div class="img-wrapper">
    <picture>
      <source
        media="(max-width: 599px)"
        srcset="
        /assets/images/elsa-benoldi-graphic-design-studio-mobile.jpg
        "
      />
      <source
        media="(min-width: 600px)"
        srcset="
          {{imgUrl}}
        "
      />
      <img
        src="{{imgUrl}}"
        alt="Elsa benoldi Graphic Design book"
      />
    </picture>
  </div>
  <!-- <div class="elsa" [ngStyle]="{ 'background-image': 'url(' + imgUrl + ')' }"></div> -->
  <h3>Why work with me</h3>
  <benoldi-services [items]="items" class="services"></benoldi-services>
  <benoldi-parallax [imgUrl]="imgWorkUrl" [backgroundSettings]="{ positionY: 0, height: 70 }">
    <div class="container"> I work closely with businesses in the beauty, arts and design industries to
      give shape to their unique personality by studying the best strategy and the
      most creative way to bring their brand to life.</div>
  </benoldi-parallax>
<benoldi-call-to-action id="call-to-action"></benoldi-call-to-action>

