@import "../../scss/helpers/mixins";


h3 {
  text-align: center;
  font-family: degular;
  font-weight: 100;
  font-size: 2.7em;
}

.img-wrapper {
  margin: 30px;
  margin-top:37px;
  img {
    width: 100%;
  }
}
h3 {
  margin-top: 100px;
}
benoldi-services.services {
  ::ng-deep {
    > div {
      margin: 30px auto 150px;

    }
  }
}
benoldi-parallax {
  ::ng-deep > div {
    font-family: degular;
    font-weight: 100;
    font-size: 2.3em;
    color: white;
    @include breakpoint-less(sm) {
      font-size: 1.5em;
        > div {
          margin: 20px;
        }


    }
  }
}
benoldi-call-to-action#call-to-action {
  ::ng-deep {
    > div {
      margin-top: 0;
    }
  }
}
