<benoldi-hero-section class="model-2" [initials]="false">
    <h1>About</h1>
    <h2>
      With more than 10 years experience bringing brands to their fullest expression through identity, digital design, packaging, editorial design and production. Starting my career in Italy, I quickly realised I wanted to expand my curiosity. I headed to London to continue creating memorable designs to some of the city’s most notable design firms and publishing houses. I currently run my studio taking a bespoke approach to each project.
      I work with small-scale, customised teams to best meet my clients’ and projects’ needs.
    </h2>
  </benoldi-hero-section>
  <div class="img-wrapper">
    <picture>
      <source
        media="(max-width: 599px)"
        srcset="
          {{imgUrl}}
        "
      />
      <source
        media="(min-width: 600px)"
        srcset="
          {{imgUrl}}
        "
      />
      <img
        src="{{imgUrl}}"
        alt="Elsa benoldi Graphic Design book"
      />
    </picture>
  </div>
  <!-- <div class="elsa" [ngStyle]="{ 'background-image': 'url(' + imgUrl + ')' }"></div> -->
  <h3>Why work with me</h3>
  <benoldi-services [items]="items" class="services"></benoldi-services>
  <benoldi-parallax [imgUrl]="imgWorkUrl" [backgroundSettings]="{ positionY: 0, height: 70 }">
    <div class="container"> I work closely with businesses in the beauty, arts and design industries to
      give shape to their unique personality by studying the best strategy and the
      most creative way to bring their brand to life.</div>
  </benoldi-parallax>
<benoldi-call-to-action id="call-to-action"></benoldi-call-to-action>

