@import "../../../scss/helpers/variables";
@import "../../../scss/helpers/mixins";

h1 {
  font-family: degular;
  line-height: 1.2;
  font-weight: 100;
  font-size: 2.3em;
  text-align: center;
  @include breakpoint-above(md) {
    font-size: 2.6em;
  }
}
.hero-section {
  padding: 240px 0;
  position: relative;
  padding: 45% 0;
  @include breakpoint-above(md) {
    padding: 240px 0;
  }
}
