@import "../../../scss/helpers/variables";
@import "../../../scss/helpers/mixins";


.hero-section {
  position: relative;
  padding: 25% 0;
  padding-bottom: 1%;
  margin-bottom: 80px;
  @include breakpoint-above(md) {
    padding: 185px 0;
  }
}
