<div id="scroll-top-anchor"></div>
<div class="wrapper" [class.contact-page]="isContactPage">

  <benoldi-header ></benoldi-header>
  <div>
    <router-outlet></router-outlet>
    <button aria-label="scroll to top" class="scrolltotop" (click)="onClickScroll('scroll-top-anchor')" [class.scrolltotop-show]="showScrollTopButton">
      <a  title="scroll to top" class="button-circle button-circle-sm button-circle-dark btn-prev">
        <i class="arrow left"></i></a>
      </button>
  </div>
  <!-- <benoldi-footer></benoldi-footer> -->
</div>
