.scrolltotop {
  @media (min-width: 768px) {
    display: none;
  }

  >a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

fa-icon {
  display: flex;
}

i {
  transform: rotate(225deg) scale(.5);
  margin-top: 6px;
}

.btn-prev .arrow {
  margin-left: 0;
}
