<!-- You can now use your library component in app.component.html -->
<div class="container">
  <div class="row">
    <button class="btn-prev" (click)="prev()">
      <i class="arrow left"></i>
    </button>
    <div id="carousel">
      <carousel #carousel [cellWidth]="'100%'" [loop]="true" [dots]="true" [cellsToShow]="1" [arrows]="false">
        <div class="carousel-cell" *ngFor="let review of reviews">
          <div>
            <div class="quote">"{{ review.quote }}"</div>
            <div class="name">{{ review.reviewerName }}</div>
          </div>
        </div>
      </carousel>
    </div>
    <button class="btn-next" (click)="next()">
      <i class="arrow right"></i>
    </button>
  </div>
</div>
