<!-- You can now use your library component in app.component.html -->
<div class="container">
  <div class="row">

    <div id="carousel">
      <button aria-label="previous preview" class="btn-prev" (click)="prev()">
        <i class="arrow left"></i>
      </button>
      <swiper class="swiper-container" #swiper
      [slidesPerView]="1"
      [spaceBetween]="0"
      [pagination]="{ clickable: true }"
      [autoHeight]="true"
      [loop]="true"

    >
      <ng-template swiperSlide  *ngFor="let review of reviews">
        <div class="carousel-cell">
          <div >
            <div class="quote">"{{ review.quote }}"</div>
            <div class="name">{{ review.reviewerName }}</div>
          </div>
        </div>
      </ng-template>
    </swiper>
    <button class="btn-next" (click)="next()" aria-label="next review">
      <i class="arrow right"></i>
    </button>
    </div>
  </div>
</div>
