:host {
  position: relative;
  height: 100%;
  width: 500px;

  >div {
    // padding: 0;

    @media (max-width: 767px) {
      padding: 50px 0;
    }
  }
}

.container {
  max-width: 1140px;

  @media (min-width: 768px) {
    margin-top: 140px;
  }

}

.drag {
  align-items: center;
  bottom: 0;
  color: #ccc;
  display: flex;
  font: 700 24px/1 sans-serif;
  // height: 500px;
  left: 0;
  justify-content: center;
  right: 0;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  background-color: black;
}

.start {
  background-color: red;
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  width: 1px;
}

.start.is-showing {
  display: block;
}

// .slider {
//   display: flex;
//   align-items: center;
//   min-height: 375px;

//   &.is-animating {
//     transition: transform 400ms cubic-bezier(0.5, 0, 0.5, 1);
//   }
// }

.slider-pagination {
  bottom: 6.25%;
  left: 0;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 100%;

  >* {
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(white, 0.75);
    display: inline-block;
    height: 6px;
    margin-left: 4px;
    margin-right: 4px;
    transition: background-color 250ms;
    width: 6px;

    &.is-active {
      background-color: rgba(white, 0.75);
    }
  }
}

.slider-panel,
.carousel-cell {
  display: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 10px;
  // height: 250px;
  // border: 1px solid gray;
  outline: none;
  padding: 22px;
  font-family: Calibre;
  font-size: 15px;
  transition: all 0.5s;
  font-weight: 300;
  // opacity: 0.65;

  .quote {
    margin-bottom: 13px;
    color: gray;
  }

  .name {
    color: gray;
    margin-bottom: 15px;
  }

  &.active-panel {
    transform: scale(1.3);
    margin: 0 3%;
    opacity: 1;
  }
}

.stars {
  mat-icon {
    color: gray;
    font-size: 30px;
    margin: 0 5px;
  }
}

.has-slider {
  // overflow: hidden;
  position: relative;
  width: 100%;

  @media (min-width: 700px) {}
}

.carousel {
  touch-action: auto !important;
  -ms-touch-action: auto !important;
  // margin-top: 140px;

  ::ng-deep {
    .slick-list {
      cursor: grab;
      margin: 0 auto;
      // height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media only screen and (min-width: 600px) {
        max-width: 100%;
        height: 250px;

      }
    }

    li.slick-active {

      &::before {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid;
        content: "";
        position: absolute;
        left: -2px;
        top: -2px;
      }
    }

    li button::before {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      border: 1px solid;
      content: "";
      left: 6px;
      top: 6px;
      color: black;
      position: absolute;
      background: black;
    }

    .slick-track {
      transition: all .5s;
    }

    .slick-slide {
      font-size: 24px;
      max-width: 300px;
      margin: 0 25px;
      transition: all .5s;

      @media only screen and (min-width: 992px) {
        max-width: 1000px;
      }
    }
  }
}

.btn-prev,
.btn-next {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 40px;
  z-index: 80;
  margin: 14px;
}

.btn-prev {
  left: 0;
}

.btn-next {
  right: 0;
}

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 10px;

}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.row {
  display: flex;
  justify-content: center;
}

carousel {
  width: calc(100% - 50px);
}

.carousel-cell {
  @media (max-width: 768px) {
    padding: 0;
    margin: 0;
    padding-top: 10px;
  }

  display: flex;
  justify-content: center;
  padding: 22px;
  font-family: Calibre;
  font-size: 15px;
  transition: all 0.5s;
  font-weight: 500;
  line-height: 1.9em;

  >div {
    max-width: 60%;
    text-align: center;
  }


  .quote {
    font-family: Calibre-Light;
    font-size: 22px;
    margin-bottom: 13px;
    color: black;
  }

  .name {
    font-family: degular;
    color: black;
    font-size: 19px;
    margin-bottom: 15px;
  }
}

#carousel {
  width: 100%;
  carousel {
    width: 100%;
    @media (max-width: 768px) {
      min-height: 300px;
    }

    ::ng-deep {
      .carousel-dots {
        bottom: -40px;
        display: flex;
        justify-content: center;
        max-width: 1140px;
        .carousel-dot-active {
          background-color: black!important;
        }

        ::ng-deep .carousel-dot {
          border: none;
          background-color: #bababa;
          border-radius: 100px;
          display: inline-block;
          height: 6px;
          margin: 10px;
          width: 6px;
        }
      }

      .carousel-arrows {
        .carousel-arrow {
          background-color: transparent;
          box-shadow: none;
          cursor: pointer;
          height: 40px;
          margin-top: -20px;
          position: absolute;
          top: 50%;
          width: 40px;
          z-index: 10;
        }
      }
    }
  }
}
