<div *ngIf="project$ | async as project">
  <benoldi-hero-section class="model-2" [initials]="false">
    <h1>{{project.projectName}}</h1>
    <h2>{{project.projectDescription}}</h2>
  </benoldi-hero-section>
  <div class="container">
    <picture>
      <source media="(max-width: 599px)" srcset="{{project.mainImgUrlSmall}}">
      <source media="(min-width: 600px)" srcset="{{project.mainImgUrlLarge}}">
      <img src="{{project.mainImgUrlLarge}}" alt="{{project.imgAlt}}">
    </picture>
    <div class="project-insights">
      <div>
        <h3>Client</h3>
        <p>
          {{project.clientName}}
        </p>
      </div>
      <div>
        <h3>Services</h3>
        <p>
          {{project.clientName}}
        </p>
      </div>
      <div *ngIf="project.clientUrl; else countryBlock">
        <h3>Project link</h3>
        <p>
          <a href="{{project.clientUrl}}" target="_blank">go to project</a>
        </p>
      </div>
      <ng-template #countryBlock >
        <h3>Country</h3>
        {{project.country}}
      </ng-template>
    </div>
    <div class="gallery">
      <div class="item" *ngFor="let item of project.galleryImgs" [ngClass]="imageTypeClass(item)">
        <picture>
          <source media="(max-width: 599px)" srcset="{{project.mainImgUrlSmall}}">
          <source media="(min-width: 600px)" srcset="{{item.largeImgUrl}}">
          <img src="{{item.largeImgUrl}}" alt="{{item.imgAlt}}">
        </picture>
      </div>
    </div>
    <div class="navigation">
      <button class="btn-prev" (click)="prev()">
        <i class="arrow left"></i>
        <span>Previous project</span>
      </button>
      <button class="btn-next" (click)="next()">
        <span>Next project</span>
        <i class="arrow right"></i>
      </button>
    </div>
  </div>
</div>
