<div *ngIf="project">
  <benoldi-hero-section class="model-2" [initials]="false">
    <h1>{{project.projectName}}</h1>
    <h2>{{project.projectDescription}}</h2>
  </benoldi-hero-section>
  <div benoldiEnterViewport class="container" >
      <picture>
        <source media="(max-width: 599px)" srcset="{{assetsUrl + project.mainImgUrlSmall}}">
        <source media="(min-width: 600px)" srcset="{{assetsUrl + project.mainImgUrlLarge}}">
        <img src="{{assetsUrl + project.mainImgUrlLarge}}" alt="{{assetsUrl + project.imgAlt}}">
      </picture>
    <div class="project-insights">
      <div>
        <h3>Client</h3>
        <p>
          {{project.clientName}}
        </p>
      </div>
      <div>
        <h3>Services</h3>
        <p>
          {{project.services  }}
        </p>
      </div>
      <div *ngIf="project.clientUrl; else countryBlock">
        <h3>Project website</h3>
        <p>
          <a href="{{assetsUrl + project.clientUrl}}" target="_blank">visit</a>
        </p>
      </div>
      <ng-template #countryBlock >
        <div>
          <h3>Country</h3>
          <p>
            {{project.country}}
          </p>
        </div>
      </ng-template>
    </div>
    <div class="gallery">
      <div benoldiEnterViewport class="item" *ngFor="let item of project.galleryImgs" [ngClass]="imageTypeClass(item)">
        <picture>
          <source media="(max-width: 599px)" srcset="{{assetsUrl + item.smallImgUrl}}">
          <source media="(min-width: 600px)" srcset="{{assetsUrl + item.largeImgUrl}}">
          <img src="{{assetsUrl + item.largeImgUrl}}" alt="{{assetsUrl + item.imgAlt}}">
        </picture>
      </div>
    </div>
    <div class="navigation">
      <button class="btn-prev" (click)="prev()" aria-label="Previous project">
        <i class="arrow left"></i>
        <span>Previous project</span>
      </button>
      <button class="btn-next" (click)="next()" aria-label="Next project">
        <span>Next project</span>
        <i class="arrow right"></i>
      </button>
    </div>
  </div>
</div>
