@import "../../scss/helpers/mixins";
@import "../../scss/helpers/variables";

.project-insights {
  display: flex;
  justify-content: space-around;
  margin-bottom: 70px;
  margin-top: 40px;
  @include breakpoint-less(sm) {
    flex-direction: column;
    margin-bottom: 40px;
  }
  h3 {
    font-family: degular;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 0;
    line-height: 1.7;
  }

  p {
    font-family: Calibre-Light;
    font-size: 1.2em;
    line-height: 1.4em;

    a {
      font-family: Calibre-Light;
      font-size: inherit;
      text-decoration: none;
    }
  }
}


img {
  width: 100%;
  vertical-align: top;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  >div {
    padding: 15px;

    &.full {
      width: 100%;
    }

    &.half,
    &.vertical {
      width: 50%;
      @include breakpoint-less(sm) {
        width: 100%;
      }
    }
  }
}

benoldi-hero-section {

  ::ng-deep {
    .hero-section {
      padding-bottom: 60px;
    }
  }
}

h2.hero {
  @include breakpoint-less(sm) {
    font-size: 1.5em;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 25px;
  span {
    opacity: 0;
    color: $elsa-gray;
    font-family: Calibre-Light;
    font-weight: 100;
    font-size: 1.3em;
    transition: opacity .25s ease-in-out;
    @include breakpoint-less(lg) {
      opacity: 1;
    }
  }

  .btn-prev, .btn-next {
    // @include breakpoint-less(sm) {
      margin: 0;
    // }

    span {
      line-height: 0;
      margin: 5px 0 0;
      padding: 5px 10px;
      opacity: 0;
      @include breakpoint-less(sm) {
        display: none;
      }
    }

    &:hover {
      span {
        opacity: 1;
      }
    }
    width: initial;
    display: inline-flex;
    justify-content:center;
    align-items: center;
  }
}
