<div class="container">
  <div class="row">

    <div  class="col-md-4 col-sm-12 service-item">
      <img src="../../../assets/images/brand-identity.svg" alt="Brand Identity Elsa Benoldi">
      <h4>Brand Identity</h4>
      <div>From a logo to a complete brand style guide, I build identities that incorporate the personality of a business.</div>
    </div>

    <div  class="col-md-4 col-sm-12 service-item">
      <img src="../../../assets/images/print-design.svg" alt="Print Design Elsa Benoldi">
      <h4>Print Design</h4>
      <div>I create beautifully designed books, catalogues and packaging using the finest paper stocks and finishes.</div>
    </div>


    <div class="col-md-4 col-sm-12 service-item">
      <img src="../../../assets/images/digital-design.svg" alt="Brand Identity Elsa Benoldi">
      <h4>Digital Design</h4>
      <div>With experience in UX/UX, I design and develop functional and visually impressive websites and mobile apps.</div>
    </div>
  </div>
</div>
