@import "../../../scss/helpers/variables";
@import "../../../scss/helpers/mixins";

.container {
  margin: 20px auto;
  @include breakpoint-above(md) {
    margin: 140px auto;
  }

  .row {
    justify-content: center;

    @include breakpoint-above(md) {
      display: flex;
    }

    .service-item {
      border: 1px solid$elsa-gray;
      min-height: 300px;
      margin-bottom: 25px;

      @include breakpoint-above(md) {
        max-width: 32%;
        margin-right: 30px;
        &:last-of-type {
          margin-right: 0;
        }
      }

      img {
        max-width: 75px;
        margin: 35px auto 20px auto;
        display: flex;
        min-height: 80px;
      }

      h4 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
        font-family: degular;
        font-weight: 500;
      }

      >div {
        font-family: Calibre-Light;
        text-align: center;
        margin: 20px 23px;
        font-size: 19px;
        line-height: 23px;
      }
    }
  }
}
