@import "../../../scss/helpers/variables";
@import "../../../scss/helpers/mixins";

:host {
  >div {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    min-height: 500px;
    background-color: transparent;
    color: black;
    flex-direction: column;
    text-align: center;
    font-weight: 100;
    line-height: 38px;
    font-family: degular;
    font-weight: 200;
    line-height: 1.2;
    font-size: 2.7em;
    font-family: 'Tomorrow', sans-serif;

    @include breakpoint-less(sm) {
      margin-top: 0;
    }

  }
}

.button {
  max-width: 300px;
  margin: 30px auto;
  font-size: inherit;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: black;
  border: 1px solid black;
  color: white;
  font-family: degular;
  padding-top: 23px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  font-family: Calibre-Light;
  @media (hover: hover) {
    &:hover {
      background-color: white;
      color: black;
    }
  }

  @include shakeElement;
}