@import "../../../scss/helpers/variables";
:host {
  > div {
    display: flex;
    justify-content: center;
    min-height: 500px;
    background-color:$elsa-gray;
    color: white;
    flex-direction: column;
    text-align: center;
    font-size: 43px;
    font-weight: 100;
    line-height: 38px;
    font-family: degular;
    font-weight: 200;
    line-height: 1.1;
  }
}

.button {
  max-width: 300px;
  margin: 30px auto;
  font-size: inherit;
  font-size: 18px;
  font-weight: 600;
  &::before { background-color: #ffffff80;}
}
