.btn-prev,
.btn-next {
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 40px;
  z-index: 80;

  
}

.carousel {
  .btn-prev,
  .btn-next {
    @include breakpoint-less(md) {
      transform: scale(0.7);
    }
  }
}

.btn-prev {
  left: 0;

  @include breakpoint-less(md) {
    margin-left: 5px;
    margin-right: 5px;
  }

  .arrow {
    margin-left: 5px;
  }
}

.btn-next {
  right: 0;

  @include breakpoint-less(md) {
    margin-left: 5px;
    margin-right: 5px;
  }

  .arrow {
    margin-right: 5px;
  }
}

.arrow {
  border: 1px solid $elsa-gray;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 16px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}