<div class="container">
  <h1>Let's work together</h1>
  <div class="where-to-meet">
    <div>
      <h2>Email</h2>
      <p class="email" (click)="copyToClipBoard()">elsabenoldi@gmail.com</p>
      <div id="snackbar" [class.show]="showSnackBar">Elsa email address copied to clipboard!</div>

    </div>
    <div>
      <h2>Where to meet me</h2>
      <p>I'm currently based in London and occasionally you'll find me in my Italian studio in Parma.</p>
    </div>
  </div>

</div>
<div class="selfie">
  <div>
    <picture>
      <source media="(max-width: 599px)" srcset="assets/images/contact/elsa-benoldi-graphic-design-agency.jpg">
      <source media="(min-width: 600px)" srcset="assets/images/contact/elsa-benoldi-graphic-design-agency.jpg">
      <img src="assets/images/contact/elsa-benoldi-graphic-design-agency.jpg" alt="Elsa Benoldi Graphic Design Agency">
    </picture>
  </div>
  <div>
    <picture>
      <source media="(max-width: 599px)" srcset="assets/images/contact/elsa-benoldi-graphic-design-pantone.jpg">
      <source media="(min-width: 600px)" srcset="assets/images/contact/elsa-benoldi-graphic-design-pantone.jpg">
      <img src="assets/images/contact/elsa-benoldi-graphic-design-pantone.jpg" alt="Elsa benoldi Graphic Design pantone">
    </picture>
  </div>
</div>
<benoldi-call-to-action class="call-action"></benoldi-call-to-action>
