@import "../../scss/helpers/mixins";

.container {
  margin-top: 85px;
  padding: 0 25px;

  @include breakpoint-less(sm) {
    margin-top: 50px;
  }
}

h1 {
  font-weight: 500;
  @include breakpoint-less(sm) {
    line-height: 1em;
    margin-left: 0;
    margin-bottom: 0;
  }
}

h2 {
  font-family: degular;
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: 10px;
}

p {
  font-family: Calibre-Light;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 100;
  margin-top: 20px;

  @include breakpoint-less(md) {
    margin-top: 15px;
  }

  &.email {
    cursor: pointer;

    &::after {
      opacity: 0;
      -webkit-transition: all .5s;
      transition: all .5s;
      content: url('../../assets/images/content_copy-black-18dp.svg');
      position: absolute;
      margin-left: 10px;
      margin-top: 1px;
    }

    &:hover::after {
      opacity: 1;

    }
  }
}

.where-to-meet,
.selfie {
  display: flex;

  >div {
    flex-basis: 50%;
    margin: 15px;
  }
}

.where-to-meet {
  margin: 0;
  flex-wrap: wrap;
  // align-items: center;

  @include breakpoint-less(sm) {
    flex-direction: column;
    margin: 15px auto;
    margin-bottom: 0;
    margin-top: 45px;
  }

  .social-media {
    @include breakpoint-above(md) {
      align-self: center;
    }

    margin-top: 9px;

    img {
      max-width: 22px;
      margin-right: 20px;

      &:last-child {
        margin-top: 25px;
        position: relative;
        top: -2px;
      }
    }
  }

  >div {
    margin: 0;
    padding: 15px;

    @include breakpoint-less(md) {
      margin-top: 10px;

      &:first-of-type,
      &:nth-child(3) {
        margin-bottom: 30px;
      }

    }

    @include breakpoint-less(sm) {
      margin: 0;
      padding: 0;
    }

  }
}

.selfie {
  margin: 15px;
  margin-top: 60px;

  @include breakpoint-less(md) {
    flex-direction: column;
    margin: 25px;
    margin-top: 20px;
  }

  >div {
    margin: 15px;

    @include breakpoint-less(sm) {
      margin: 10px 0;
    }

    img {
      width: 100%;
    }
  }
}

benoldi-call-to-action.call-action {
  ::ng-deep>div {
    margin-top: 0;
  }
}